<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/main.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/now-ui-kit.css") }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-transparent">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img src="{{ url_for('static', filename="assets/menuIcon.svg") }}" width="20px" height="20px" style="max-width: none !important;">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 20px !important">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link display-4" href="#/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link display-4" href="#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link display-4" href="/chatbot">Chatbot</a>
                </li>
            </ul>
            <!-- <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Documentation
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Commands</a>
                    <a class="dropdown-item" href="#">Tutorials</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Server settings</a>
                </div>
            </div> -->
            <!-- <div class="nav-item">
                <a class="nav-link" href="#">About</a>
            </div> -->
            <!-- <button class="btn login-btn btn-outline-accent my-2 my-sm-0"
                style="font-size: 10px !important;font-family: poppins !important;">LOGIN</button> -->
        </div>
    </nav>
    <div class="heading">
        <h1 class="display-5 title">It's time to use listen music.</h1>
        <p class="subtitle">Chatbot Applications Streamline Interactions Between People And Services, Enhancing Customer Experience.
            Chatbot will recommend songs based on the tone of the user.
            Chatbot will recommend songs based on user's mood which will be analyzed through an API</p>
        <a class="btn btn-primary btn-lg" href="/chatbot" target="_blank" role="button">Let's Chat</a>
        <br /><br /><br /><br /><br /><br />
    </div>
    <div class="features" id="features">
        <div class="title">Features of Bot</div>
        <div class="subtitle">Our project is build using three models</div>
        <div class="cards">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Chatbot</h5>
                    <p class="card-text">A chatbot </p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Sentiment Analysis</h5>
                    <p class="card-text">IBM sentiment analysis</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Song mood analsis</h5>
                    <p class="card-text">This model analyses the mood of the song</p>
                </div>
            </div>
        </div>
    </div>
    <div class="statistics">
        <!-- statics lied here -->
    </div>
    <div class="page_end">
        <div class="start">
            <div class="card">
                <div class="card-body gs-card">
                    <div class="title">Ready to try Bot?</div>
                    <div class="subtitle">Invite Bot and start giving your server cool perks!</div>
                    <br />
                    <a class="btn btn-primary btn-lg" href="/chatbot" role="button">Get started</a>
                </div><br />
            </div>
        </div>
        <div class="footer">
            <div class="bot-footer">
                
            </div><br />
            </div> </div>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
            <script src="{{ url_for('static', filename="js/now-ui-kit.min.js") }}""></script>
</body>

</html>